@charset "UTF-8";
/* Base Styles */
.cssmenu,
.cssmenu ul,
.cssmenu li,
.cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
/*  line-height: 1em;*/
  font-family: 'Open Sans', sans-serif;
/*  font-size: 1em;*/
/*  position: relative;*/
}

.cssmenu {
  width: auto;
}

.cssmenu > ul > li {
  margin: 0 0 2em 0;
    width: 100%;
/*    padding-left: 12em;*/
/*    text-align:center;*/
}
.cssmenu > ul > li:last-child {
  margin-left:0;
}
.cssmenu > ul > li > a {
  font-size: 0.9em;
  display: block;
  color: black;
}

.cssmenu > ul > li > a > span {
  display: block;
}

.cssmenu > ul > li > a:hover {
  text-decoration: none;
    color: red;
}

.cssmenu > ul > li.active {
  border-bottom: none;
}

.cssmenu > ul > li.active > a {
  color:red;
}

.cssmenu > ul > li.active > a span {
/*  border: 1px solid #97be10;*/
}

.cssmenu > ul > li.has-sub > a span {
/*  background: url(../images/icon_plus.png) 98% center no-repeat;*/
    
}

.cssmenu > ul > li.has-sub.active > a span {
/*  background: url(../images/icon_minus.png) 98% center no-repeat;*/
color:black;    
}

.cssmenu ul li#current a span{
color: red;
}


/* Sub menu */
.cssmenu ul ul {    
  padding: 1.5em 0 0 2em;
  display: none;
        
}
.cssmenu ul ul li {
  padding: 0.5em 0;
}

.cssmenu ul ul a {
  display: block;
  color: black;
  font-size: 0.8em;
/*  font-weight: bold;*/
}
.cssmenu ul ul a:hover {
  color:red;
}


.cssmenu ul ul li#curr a{
color: red;
}